@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: lighter;
}

/* 
Medidas Absolutas
cm, mm, in, px, pt, pc

Medidas Relativas
em, ex, rem, vw, vh, %

16px = tamanho normal das fontes = 1em

weight Peso, width Largura, height Altura
*/
h1 {
    /* shorthand font
- font-style ->font-weight -> font-size -> font-family 

font-family: 'Work Sans' , sans-serif;
font-weight: bolder;
font-size: 3em;
font-style: italic;*/
    font: italic bolder 3em 'Times New Roman', Times, serif;
}

h2 {
    font: bolder 3em 'Times New Roman', Times, serif;
}